@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.border {
  border: 1px solid rgb(208, 213, 221);
}

.lato {
  font-family: "Lato", serif;
}

h1 {
  font-size: 32px; /* Default font size for very small screens */
  color: rgb(4, 7, 14);
  line-height: 110%;
}

.slick-slide {
  margin-right: 10px; /* Adjust the value for the desired gap */
}

.slick-list {
  margin: 0 -10px; /* Offset the margin to avoid overflow */
}

@media (min-width: 768px) {
  /* Medium screens */
  h1 {
    font-size: 58px;
  }
}

@media (min-width: 1024px) {
  /* Large screens (e.g., desktops) */
  h1 {
    font-size: 64px;
  }
}

@media (min-width: 1280px) {
  /* Extra large screens (e.g., wide desktops) */
  h1 {
    font-size: 72px;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-bounceIn {
  animation: bounceIn 0.5s ease-out;
}

.group img {
  transform: translateY(0%);
  transition: transform 8s ease-in-out;
}

.group:hover img {
  transform: translateY(-0%);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}
